body {
    background-color: #ccc5b9;
    text-align: center;
}

h1 {
    font-family: 'Londrina Solid', cursive;
    text-align: center;
}

h3{
    font-family: 'Londrina Solid', cursive;
    text-align: center;
}

p{
    font-family: 'Kelly Slab', cursive; 
    text-align: center;
}

.cube {
    width: 100px;
    height: 100px;
    background-color: white;
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    box-shadow: 0 0 20px;
    flex-direction: row;
}

.button {}

#instructions {
    padding-top: 20px;
}

#container {
    display: flex;
    /* justify-content: space-evenly; */
}


/* #playerContainer {
    display: flex;
    justify-content: space-evenly;
} */

#player1 {}

#diceOne {}

#diceTwo {}

#message {}

#roll {}

#reset {}

#amount {}

#amount-submission {}